<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Barney Gammond</title>
    <meta 
        name="viewport" 
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, 
            viewport-fit=cover" 
    />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link rel="stylesheet" href="/dist/styles.css">
</head>
<body class="bg-gam-beige text-gam-text p-4">
    <main class="w-120 mx-auto">
        <h1 class="font-light text-3xl">{{siteName}}</h1>
        <p class="text-lg mb-4">A well-rounded Developer with experience in agile startups, strong people skills and a keen interest in sustainability.</p>
        <div class="border-2 border-gam-text p-2 px-4">
            <div class="flex items-center gap-4">
                <p>React</p>
                <div class="w-full h-0 relative">
                    <div class="w-100 absolute -top-0.5 border-2 border-gam-text opacity-25"></div>
                    <div class="w-50 absolute -top-0.5 border-2 border-gam-text"></div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
